[submodule "Event-hook"]
	path = Event-hook
	url = https://github.com/DirkChristianBecker/Event-hook.git
[submodule "FlaUI"]
	path = FlaUI
	url = https://github.com/DirkChristianBecker/FlaUI.git
[submodule "named-pipe-wrapper"]
	path = named-pipe-wrapper
	url = https://github.com/DirkChristianBecker/named-pipe-wrapper.git
